<%var peopleId = req.query['peopleId']%>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>执行研判</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.css'/>
    <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/javascripts/layer-v2.4/layer/layer.js"></script>
    <script src="/public/javascripts/echarts.js"></script>

    <style>

    </style>
</head>
<body style="">
<div style="width: 1024px; margin: auto">
    <div style=" height:148px;background:url(/public/images/main-bg.jpg) no-repeat">
        <div class="signout">
            <ul>
                <li>管理员:admin</li>
                <li style="float: right"><a href="/login" style="color: #ffffff">退出</a></li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <div class="fk_searchBox">
            <input type="text" style="height: 34px; width: 400px; border: 1px solid red ">
            <img src="/public/images/search-bt.gif" onclick="javascript:location.href='/searchResult'"/>
        </div>
        <div style="clear: both"></div>
        <div class="fk_main">
            <% include ./include/menu.html %>
            <div class="profileBody">
                <div class="profileTabBar">
                    <div class="profileTabTile">
                        <a href="/profile?peopleId=<%=peopleId%>">个人信息</a>
                    </div>
                    <div class="profileTabTile">
                        <a href="/sheaninfo?peopleId=<%=peopleId%>">涉案信息</a>
                    </div>
                    <div class="profileTabTile">
                        <a href="/zichanAnalyze?peopleId=<%=peopleId%>">资产分析</a>
                    </div>
                    <div class="profileTabTile active">
                        <a href="/guijiAnalyze?peopleId=<%=peopleId%>">轨迹分析</a>
                    </div>
                    <div class="profileTabTile">
                        <a href="/xiaofeiAnalyze?peopleId=<%=peopleId%>">消费分析</a>
                    </div>
                    <div class="profileTabTile ">
                        <a href="/renmaiAnalyze?peopleId=<%=peopleId%>">人脉分析</a>
                    </div>
                </div>
                <div class="tabunderline"></div>
                <div style="padding: 10px 10px">
                    <div id="bingtu" style="width: 600px;height:400px;"></div>
                    <hr>
                    <div>
                        <pre>
            出行信息：
            【飞机】2016-7-24 首都航空JD5267 空中客车 A320(中型)
                07:10 南京禄口国际机场T2
                09:20 江北国际机场T2B
                票价 1850
            【飞机】2016-7-24 东方航空MU2154 空客320(中型)
                12:15 浦东国际机场T1
                14:55 咸阳国际机场T3
                票价1040
            【飞机】东方航空MU5576 空中客车 A320(中型)
                18:50 长水国际机场
                21:35 新郑国际机场T2
                票价 960
            <strong>机票总价：3850</strong>

            【火车】杭州-成都 2016-08-16 D2222 07:33-22:03   二等座  票价 589.0
            【火车】成都-天津 2016-08-02 K386  12:52-18:14+1 硬　卧  票价 505.5
            【火车】沈阳-武汉 2016-5-9   G1292 10:07-20:30   商务座  票价 2593.5
            火车票总价：3688

            【客轮】重庆-上海 2016-4-5 票价 900
            <strong>客轮总价：900</strong>

            【其它】
            出租车 杭州市 2016-7-8 17:09- 6:00 124.5元
            出租车 北京市 2016-7-5 17:09- 14:00 24.5元
            出租车 北京市 2016-5-8 17:09- 11:00 14.5元
            网约车 上海市 2016-1-12 23:09- 19:00 24.5元
            网约车 上海市 2016-7-10 19:09- 17:50 16元
            网约车 萧山市 2016-9-18 17:09- 19:00 88.6元
            网约车 北京市 2016-7-25 17:19- 19:00 15元
            网约车 上海市 2016-7-18 9:03- 19:00 202元
            网约车 上海市 2016-1-11 22:09- 19:00 52.3元
            网约车 萧山市 2016-4-6 18:09- 19:00 96.3元
            地铁 上海市 2016-7-8 17:09- 19:00 8元
            地铁 上海市 2016-7-8 17:09- 19:00 12元
            地铁 萧山市 2016-7-8 17:09- 19:00 4元
            地铁 北京市 2016-7-8 17:09- 19:00 4元
            地铁 上海市 2016-7-8 17:09- 19:00 6元
            地铁 上海市 2016-7-8 17:09- 19:00 6元
            地铁 萧山市 2016-7-8 17:09- 19:00 8元
            总计：459.7元
</pre>
                    </div>
                    <div>
                        <img src="/public/images/guiji.png">
                    </div>
                    <script>
                        var myChart_bingtu = echarts.init(document.getElementById('bingtu'));
                        option = {
                            title: {
                                text: '出行方式分析',
                                subtext: '出行方式分析',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: ['飞机', '火车', '客轮', '其它']
                            },
                            series: [
                                {
                                    name: '访问来源',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: [
                                        {value: 3850, name: '飞机'},
                                        {value: 3688, name: '火车'},
                                        {value: 900, name: '客轮'},
                                        {value: 459.7, name: '其它'}
                                    ],
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };


                        myChart_bingtu.setOption(option);
                    </script>
                </div>
            </div>

        </div>
    </div>
    <div style="clear: both"></div>
    <% include ./include/footer.html %>
</div>

<script>

</script>


</body>
</html>