<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>华讯方舟智能推荐系统</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.css'/>
    <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/javascripts/scroll.js"></script>
    <style>
        .buyItem{height: 600px; overflow: hidden;}
        .buyItem ul li{border-bottom: 1px solid #cccccc; line-height: 40px; height: 40px;}
        .buyItem ul li span{margin-right: 10px;}

        .searchResultbox{overflow-y: auto; overflow-x:hidden;}
        .searchResultbox ul li{border-bottom: 1px solid #cccccc; min-height: 40px; padding: 0 10px}
        .searchResultbox ul li span{font-weight: bolder}
        .downloading{display:none;width: 50px; height: 400px; background: url('/public/images/downloading.gif') no-repeat center center}
        .arrow{display:none;width: 50px; height: 400px;background: url('/public/images/arrow.jpg') no-repeat center center}
        .red{color: red}
    </style>
</head>
<body>
<div style="background: #336699;">
    <div class="container" style="height:50px;line-height: 50px;">
        <div class="row">
            <div class="col-md-1" style="margin-right: 10px;"><img src="/public/images/logo2.png" width="100" ></div>
            <div class="col-md-5" style="padding-left: 15px;font-size: 24px; color: #ffffff">华讯方舟智能推荐系统</div>
        </div>


    </div>
</div>
<div class="container" style="margin-top: 25px;">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 18px;">用户点播记录</div>
                <div class="panel-body buyItem">
                    <ul>
                        <%
                            for(let i =0;i < buyList.length; i ++){
                            let buyItem = buyList[i];
                        %>
                            <li><a href="javascript:void(0);clickUserSearch('<%-buyItem.username%>')"><span class="label label-default"><%-buyItem.username%></span></a><%-buyItem.goodname%></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-success">
                <div class="panel-heading" style="font-size: 18px;">新增点播记录</div>
                <div class="panel-body">
                    <form class="form-inline" id="saveForm">
                        <div class="form-group" style="margin-right: 20px;">
                            <label for="saveUsername">用户名</label>
                            <input type="text" class="form-control" id="saveUsername" name="saveUsername" maxlength="15" minlength="2" placeholder="请输入用户姓名">
                        </div>
                        <div class="form-group" style="margin-right: 20px;">
                            <label for="saveGoodName">音乐名称</label>
                            <input type="text" class="form-control" id="saveGoodName" name="saveGoodName" maxlength="25" minlength="1" placeholder="请输入音乐名称">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="saveHandler()">插入</button><span style="margin-left: 20px; color: red" id="saveErrorBox"></span>
                        <span style="margin-left: 20px; color: green" id="saveSuccessBox"></span>
                    </form>
                </div>
            </div>
                <div class="panel panel-info">
                <div class="panel-heading" style="font-size: 18px;">查询点播记录</div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group" style="margin-right: 20px;">
                            <label for="username4search">用户名</label>
                            <input type="text" class="form-control" id="username4search" maxlength="15" minlength="2" placeholder="请输入用户姓名">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="searchHandler()">查询</button><span style="margin-left: 20px; color: red" id="searchErrorBox"></span>
                    </form>
                    <hr/>

                    <div style="padding: 0px;">
                        <div style="width: 320px; float: left; overflow: hidden">
                            <h3>已经点播的</h3>
                            <div style="height: 400px; background: #f2f2f2" id="buylistbox" class="searchResultbox">

                            </div>
                        </div>
                        <div style="float: left; width: 50px; height: 400px; margin: 0px 10px; ">
                            <div class="downloading" id="dl1"></div>
                            <div class="arrow" id="arrow1"></div>
                        </div>
                        <div style="width: 500px; float: left">
                            <h3></h3>
                            <div style="height: 400px; padding-top: 40px;" id="reclistbox" class="searchResultbox">

                            </div>
                        </div>
                        <div style="float: left; width: 50px; height: 400px; margin: 0px 10px; ">
                            <div class="downloading" id="dl2"></div>
                            <div class="arrow" id="arrow2"></div>
                        </div>
                        <div style="width: 150px; float: left">
                            <h3>可能喜欢的</h3>
                            <div style="height: 400px; background: #f2f2f2" id="favourlistbox" class="searchResultbox">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(".buyItem").myScroll({
            speed:40,
            rowHeight:40
        });
    });
    function clickUserSearch(username){
        if($('#username4search').val() == username) return;
        $('#username4search').val(username);
        searchHandler();
    }
    function saveHandler(){
        $('#saveErrorBox').html('')
        $('#saveSuccessBox').html('')
        var username = $('#saveForm').find('#saveUsername').val()
        var userGoodName = $('#saveForm').find('#saveGoodName').val()
        if(username.trim().length<1 || userGoodName.trim().length<1) return
        var param = $('#saveForm').serialize();

        $.ajax({
            type: "post",
            url: "/save",
            dataType: "json",
            data: param,
            success: function (res) {
                if(res.flag=='ERROR'){
                    $('#saveErrorBox').html(res.msg)
                    return;
                }

                $('#saveSuccessBox').html('操作成功!')
                $('#saveForm').find('#saveUsername').val('')
                $('#saveForm').find('#saveGoodName').val('')

                var insertIndex = 0;
                var liLength = $('.buyItem ul li').length;
                if(liLength > 10){
                    insertIndex = 9
                }else{
                    insertIndex = liLength-1;
                }
                $('.buyItem ul li:eq('+insertIndex+')').after('<li><a href="javascript:void(0);clickUserSearch(\''+res.result.username+'\')"><span class="label label-default">'+res.result.username+'</span></a>'+res.result.goodname+'</li>')

            },
            error: function (err) {
                //$(".res_error").html(err.responseJSON.errors)
                console.log(err)
            }
        });
    }
    function searchHandler(){
        var inUsername = $("#username4search").val();
        if(inUsername.replace(/(^\s*)|(\s*$)/g,"").length < 1) return;
        $('#buylistbox').html('');
        $('#reclistbox').html('');
        $('#favourlistbox').html('');
        $('#searchErrorBox').html('')

        $('#dl1').css('display','none');
        $('#arrow1').css('display','none');
        $('#dl2').css('display','none');
        $('#arrow2').css('display','none');
        $.ajax({
            type: "get",
            url: "/queryBuyList?username=" + $("#username4search").val() ,
            dataType: "json",
            //data: param,
            success: function (res) {
                if(res.flag=='ERROR'){
                    $('#searchErrorBox').html(res.msg)

                    return;
                }
                $('#searchErrorBox').html()

                //标红
                for(var i = 0;i < res.buyList.length; i ++){
                    var buy_item = res.buyList[i];
                    for(var j = 0; j< res.recList.length; j++){
                        var rec_item = res.recList[j];
                        if(buy_item.goodname == rec_item.goodname){
                            buy_item.isRed = true;
                            rec_item.isRed = true;
                        }
                    }
                }


                if(res.buyList && res.buyList.length>0){
                    var s = '<ul>';
                    for(var i = 0;i < res.buyList.length; i ++){
                        var buy_item = res.buyList[i];
                        var cssRed = "";
                        if(buy_item.isRed) cssRed = 'class="red"';
                        s += '<li>'+'<span '+cssRed+'>' +buy_item.goodname+'</span>'+'['+buy_item.userList.join(",")+']</li>';
                    }
                    s += '</ul>';
                    $('#buylistbox').html(s);
                }else{
                    $('#buylistbox').html('尚未产生数据');

                }

                if(res.recList && res.recList.length>0){
                    var fs = '<ul>'
                    var s = '<ul>';
                    for(var i = 0;i < res.recList.length; i ++){
                        var rec_item = res.recList[i];
                        var cssRed = "";
                        if(rec_item.isRed) cssRed = 'class="red"';
                        //s += '<li>'+'<span '+cssRed+'>' +rec_item.goodname+'</span>'+'['+rec_item.userList.join(",")+']</li>';
                        fs += '<li>'+'<span>' +rec_item.goodname+'</span></li>';
                    }
                    s += '</ul>';

                    //s='<embed src="/public/images/abc.mp4" controls="" autostart="true" loop="true" width="500" height="282" >';
                    s='<video width="500" height="282"  autoplay="autoplay"> ' +
                            '<source src="/public/images/abc.mp4" type="video/mp4">' +
                            'Your browser does not support the video tag. ' +
                            '</video>'
                    fs += '</ul>';

                    var random1 = Math.round(Math.random()*10);
                    var random2 = Math.round(Math.random()*10);
                    console.log("random:" + random1 + "_" + random2)
                    $('#dl1').css('display','block');
                    $('#arrow1').css('display','none');
                    setTimeout(function(){
                        $('#dl1').css('display','none');
                        $('#arrow1').css('display','block');

                        $('#dl2').css('display','none');
                        $('#arrow2').css('display','none');
                        $('#reclistbox').html(s);
                        setTimeout(function(){
                            $('#dl2').css('display','none');
                            $('#arrow2').css('display','block');
                            $('#favourlistbox').html(fs);
                        },21000)
                    },0)


                }else{
                    $('#reclistbox').html('尚未产生数据');
                    $('#favourlistbox').html('尚未产生数据');
                }


            },
            error: function (err) {
                //$(".res_error").html(err.responseJSON.errors)
                console.log(err)
            }
        });
    }
</script>
</body>
</html>