<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>执行研判</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.css'/>
    <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/javascripts/layer-v2.4/layer/layer.js"></script>
    <script src="/public/javascripts/echarts.js"></script>

    <style>

    </style>
</head>
<body>

    <script type="text/javascript">


    </script>


</body>
</html>