<%var peopleId = req.query['peopleId']%>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>执行研判</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.css'/>
    <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/javascripts/layer-v2.4/layer/layer.js"></script>
    <script src="/public/javascripts/echarts.js"></script>

    <style>
    </style>
</head>
<body style="">
<div style="width: 1024px; margin: auto">
    <div style=" height:148px;background:url(/public/images/main-bg.jpg) no-repeat">
        <div class="signout">
            <ul>
                <li>管理员:admin</li>
                <li style="float: right"><a href="/login" style="color: #ffffff">退出</a></li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <div class="fk_searchBox">
            <input type="text" style="height: 34px; width: 400px; border: 1px solid red ">
            <img src="/public/images/search-bt.gif" onclick="javascript:location.href='/searchResult'"/>
        </div>
        <div style="clear: both"></div>
        <div class="fk_main">
            <% include ./include/menu.html %>
            <div class="profileBody">
                <div class="profileTabBar">
                    <div class="profileTabTile">
                        <a href="/profile?peopleId=<%=peopleId%>">个人信息</a>
                    </div>
                    <div class="profileTabTile">
                        <a href="/sheaninfo?peopleId=<%=peopleId%>">涉案信息</a>
                    </div>
                    <div class="profileTabTile">
                        <a href="/zichanAnalyze?peopleId=<%=peopleId%>">资产分析</a>
                    </div>
                    <div class="profileTabTile">
                        <a href="/guijiAnalyze?peopleId=<%=peopleId%>">轨迹分析</a>
                    </div>
                    <div class="profileTabTile">
                        <a href="/xiaofeiAnalyze?peopleId=<%=peopleId%>">消费分析</a>
                    </div>
                    <div class="profileTabTile active">
                        <a href="/renmaiAnalyze?peopleId=<%=peopleId%>">人脉分析</a>
                    </div>
                </div>
                <div class="tabunderline"></div>
                <div style="padding: 10px 10px">
                    <div id="budongchantu" style="width: 750px;height:400px;">
                        <div style="width: 455px; margin: auto">
                            <img src="/public/images/renmai.png"  >
                        </div>

                    </div>
                    <script>

                    </script>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
    <% include ./include/footer.html %>
</div>

<script>

</script>


</body>
</html>