<div style="height: 28px; background: #128ED4;width: 100%;">
    <div class="main topbar">
        <ul class="topul-welcome">
            <li>欢迎！数字流媒体教育资源平台！</li>
        </ul>
        <ul class="topul-right">
            <%if(req.session.username && req.session.username.length > 0){%>
                <li style="margin-right: 20px;">用户：<%=req.session.username%></li>
                <li style="margin-right: 20px;"><a class="logoutbt" href="/user/logout">退出</a></li>
            <%}else{%>
                <li style="margin-right: 20px;"><a href="/user/login">请登录</a></li>
            <%}%>
            <%if(req.session.username && req.session.username.length > 0){%>
                <li>
                    <span class="manageBt" onclick="reloginManageCenter()" >管理控制台</span>
                </li>
            <%}%>
        </ul>

        <script>
            function reloginManageCenter(){
                $('#dynamicForm').submit()
            }

        </script>
    </div>
</div>
<div style="height: 62px; background: #0DA3F9; width: 100%;">
    <div class="main">
        <div style="float: left; width: 480px;height: 62px;">
            <a style="display:block;background:url('/public/images/logo.png') no-repeat left;
            width: 481px; height: 62px;" href="/"></a>
        </div>
        <div style="float: right;height: 62px;">
            <ul class="menuul">
                <li><a href="/">首页</a></li>
                <li><a href="/video/live">直播课堂</a></li>
                <li><a href="/video/vod">点播资源</a></li>
                <li><a href="/pub">学科资源</a></li>
                <li><a href="/notice">公告</a></li>
            </ul>
        </div>
    </div>
</div>
<div style="position: absolute;width: 0px; height: 0px;">
    <div style="height: 1px; width: 1px; overflow: hidden">
        <form id="dynamicForm" action="http://192.168.13.111:8080/lubo/dologin.do" method="post" target="_self">
            <input type="text" id="loginPhone_" name="loginPhone" value="<%=req.session.loginPhone%>">
            <input type="password" id="password_" name="password" value="<%=req.session.password%>">
        </form>
    </div>
</div>