<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>资源管理</title>
        <meta name="description" content="无锡">
        <meta name="viewport" content="width=1200">
		<link rel="shortcut icon" href="/public/images/favicon.png">
		<link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.css'/>
		<link rel="stylesheet" href="/public/bower_components/components-font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/stylesheets/main.css">
		<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
		<script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/public/javascripts/common.js"></script>

		<link href="/public/bower_components/jquery-treetable/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
		<script src="/public/bower_components/jquery-treetable/jquery.treetable.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<% include ../include/header.html %>
			<div class="index-container">
				<% include ../include/menu.html %>
				<div class="search-box gap-lr text-right">
					<input type="text" placeholder="模糊查询"> 
					<a href="list.html" class="btn btn-primary">搜索</a>
				</div>
				<ul class="nav-bar">
					<li class="active"><a>资源管理</a></li>
				</ul>
				<div class="gap">
					<button class="btn btn-primary pull-right"  onclick="editRes('add')" title="添加">
						<span class="fa fa-plus"></span>
					</button>

					<br>
					<table id="menuTable" class="table table-bordered table-hover">
						<thead>
						<tr>
							<th width="15%">名称</th>
							<th width="5%">序号</th>
							<th width="10%">类型</th>
							<th width="10%">唯一Key</th>
							<th width="20%">Url地址</th>
							<th width="10%">icon</th>
							<th width="20%">描述</th>
							<th width="10%">操作</th>
						</tr>
						</thead>
						<tbody>
							<%

							for(let i = 0;i < allRes.length; i++){
								let menuObj = allRes[i];
								let currLevel = menuObj.get('nlevel')
								let restype = menuObj.get('restype')
								let indent = currLevel * 25
							%>
							<tr data-tt-id="<%=menuObj.id%>"  data-tt-parent-id="<%=menuObj.pid%>" >
								<td><%=menuObj.get('name')%></td>
								<td><%=menuObj.get('order')%></td>
								<td>
									<%=menuObj.get('restype')== 1 ? '目录':(menuObj.get('restype')== 2?'菜单':'功能/页面')%>
								</td>
								<td><%=menuObj.reskey%></td>
								<td><%=menuObj.get('url')%></td>
								<td><i class="fa fa-<%=menuObj.get('icon')%>"></i></td>
								<td><%=menuObj.get('desc')%></td>
								<td>
									<button class="btn btn-primary" onclick="editRes('edit','<%=menuObj.id%>')" title="编辑">
										<i class="fa fa-edit"></i>
									</button>
									<button type="button" class="btn btn-danger"  onclick="delRes('<%=menuObj.id%>')" title="删除">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
							<%}%>
						</tbody>
					</table>

				</div>
			</div>
			<div class="push"></div>
		</div>
		<% include ../include/footer.html %>
		<div class="modal fade" role="dialog" id="addModal" data-backdrop="static" aria-labelledby="gridSystemModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="gridSystemModalLabel">添加资源</h4>
					</div>
					<form class="form-horizontal"  method="post" id="addResForm" name="addResForm" action="?">
						<input type="hidden" name="resId">
						<div class="modal-body">
								<div class="form-group">
									<label for="res_name" class="col-sm-2 control-label">资源名称</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="res_name" name="res_name" placeholder="资源名称">
									</div>
								</div>
								<div class="form-group">
									<label for="res_pid" class="col-sm-2 control-label">父级资源</label>
									<div class="col-sm-10">
										<select class="form-control" id="res_pid" name="res_pid">
											<option value="0">--顶级--</option>
											<%
												for(let i = 0;i < allRes.length; i++){
												let menuObj = allRes[i];
												let currLevel = menuObj.get('nlevel')
												let restype = menuObj.get('restype')
												let indent = currLevel * 4
											%>
											<option value="<%=menuObj.get('id')%>">
												<%for(let i = 0;i < indent; i++){%>&nbsp;<%}%><%=menuObj.get('name')%>
											</option>

											<%}%>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="res_url" class="col-sm-2 control-label">资源URL</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="res_url" name="res_url" placeholder="资源URL">
									</div>
								</div>
								<div class="form-group">
									<label for="res_type" class="col-sm-2 control-label">资源类型</label>
									<div class="col-sm-10">
										<select class="form-control" id="res_type" name="res_type">
											<option value="1">目录</option>
											<option value="2">菜单</option>
											<option value="3">功能/页面</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="res_desc" class="col-sm-2 control-label">资源描述</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="res_desc" name="res_desc" placeholder="资源名称">
									</div>
								</div>
								<div class="form-group">
									<label for="res_order" class="col-sm-2 control-label">资源排序</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="res_order" name="res_order" placeholder="资源排序">
									</div>
								</div>
								<div class="form-group">
									<label for="res_icon" class="col-sm-2 control-label">资源图标</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="res_icon" name="res_icon" placeholder="请输入Font Awesome中的图标名称">
									</div>
								</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" onclick="$('#addResForm').submit()">保存</button>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<script>

			function editRes(operType,resId){
				$('#addResForm')[0].reset()
				if(operType == 'add'){
					$('#addModal .modal-title').text('添加资源')
					$('#addModal').modal()
				}else{
					$('#addModal .modal-title').text('编辑资源')
					$('input[name="resId"]').val(resId)
					$.ajax({
						type: "GET",
						url:'/admin/sys/res/resDetail',
						data:{
							resId:resId
						},
						success: function(data) {
							if(data.error){
								//alert(data.error)
								myDialog.tipDialog.open({
									level:3,
									body:data.error,
									title:'系统提示'
								})
							}else{
								$('#addModal #res_name').val(data.name)
								$('#addModal #res_pid').val(data.pid)
								$('#addModal #res_url').val(data.url)
								$('#addModal #res_type').val(data.restype)
								$('#addModal #res_desc').val(data.desc)
								$('#addModal #res_order').val(data.order)
								$('#addModal #res_icon').val(data.icon)
								$('#addModal').modal()
							}
						}
					})
				}
			}
			function delRes(resId){
				myDialog.confirmDialog.open({
					title:'操作提示',
					body:'你确定要删除该功能吗?',
					confirmCallback:function(){
						$.ajax({
							type: "GET",
							url:'/admin/sys/res/del',
							data:{
								resId:resId
							},
							success: function(data) {
								if(data.error){
									//alert(data.error)
									myDialog.tipDialog.open({
										level:3,
										body:data.error,
										title:'系统提示'
									})
								}else{
									window.location.href='/admin/sys/res'
								}
							}
						})
					}
				});
			}
			$(function(){
				$("#menuTable").treetable({
					expandable: true ,
					clickableNodeNames:true,
					initialState: "expanded"
				});
				$("#addResForm").validate({
					rules: {
						res_name: {
							required: true,
							remote:{
								 type:"GET",
								 dataType: 'json',
								 url:"/admin/sys/res/checkSameNameInRes",
								 data:{
								 	res_pid:function(){return $("#res_pid").val();},
								 	resId:function(){return $('input[name="resId"]').val()}
								 }
							 }
						},
						res_pid: {
							required: true
						},
						res_url: {
							required: true
						},
						res_type: {
							required: true
						},
						res_desc: {
							required: false
						},
						res_order: {
							required: true
							/*remote:{
								type:"GET",
								dataType: 'json',
								url:"/admin/sys/res/checkSameLevelOrder",
								data:{
									res_pid:function(){return $("#res_pid").val();}
								}
							}*/
						},
						res_icon: {
							required: false
						}
					},
					messages:{
						res_order:{
							//remote:'同一级别下的资源序号不能相同'
						},
						res_name:{
							remote:'同一级别下的资源名称不能相同'
						}
					},
					submitHandler:function(form){
						var resId = $('input[name="resId"]').val();
						var url = '';
						var reqBody = {
							res_name: $('#res_name').val(),
							res_pid: $('#res_pid').val(),
							res_url: $('#res_url').val(),
							res_type: $('#res_type').val(),
							res_desc: $('#res_desc').val(),
							res_order: $('#res_order').val(),
							res_icon: $('#res_icon').val()
						}
						if(resId) {//编辑
							url = '/admin/sys/res/edit';
							reqBody.resId = resId
						}else{
							url = '/admin/sys/res/add';
						}

						$.ajax({
							type: "POST",
							url:url,
							data:reqBody,
							success: function(data) {
								if(data.error){
									//alert(data.error)
									myDialog.tipDialog.open({
										level:3,
										body:data.error,
										title:'系统提示'
									})
								}else{
									window.location.href='/admin/sys/res'
								}
							}
						})
					}
				});
			})
		</script>
	</body>
</html>
