<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>资源管理</title>
        <meta name="description" content="无锡">
        <meta name="viewport" content="width=1200">
		<link rel="shortcut icon" href="/public/images/favicon.png">
		<link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.css'/>
		<link rel="stylesheet" href="/public/stylesheets/font-awesome.css">
		<link rel="stylesheet" href="/public/stylesheets/main.css">
		<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
		<script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/public/javascripts/common.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<% include ../include/header.html %>
			<div class="index-container">
				<% include ../include/menu.html %>
				<div class="search-box gap-lr text-right">
					<input type="text" placeholder="模糊查询"> 
					<a href="list.html" class="btn">搜索</a>
				</div>
				<ul class="nav-bar">
					<li class="active"><a>资源管理</a></li>
				</ul>
				<div class="gap">
					<button class="btn btn-primary pull-right" onclick='addMenu()' title="添加">
						<span class="icon-plus"></span>
					</button>

					<br>
					<table id="menuTable" class="table table-bordered table-hover">
						<thead>
						<tr>
							<th width="15%">名称</th>
							<th width="5%">序号</th>
							<th width="10%">类型</th>
							<th width="10%">唯一Key</th>
							<th width="20%">Url地址</th>
							<th width="10%">icon</th>
							<th width="20%">描述</th>
							<th width="10%">操作</th>
						</tr>
						</thead>
						<tbody>
							<%for(let i = 0;i < menus.length; i++){
								menuObj = menus[i];
							%>
							<tr id="" pId="">
								<td><%=menuObj.get('name')%></td>
								<td><%=menuObj.get('order')%></td>
								<td>
									<%=menuObj.get('restype')%>
								</td>
								<td></td>
								<td><%=menuObj.get('url')%></td>
								<td><%=menuObj.get('icon')%></td>
								<td><%=menuObj.get('desc')%></td>
								<td>
									<button class="btn btn-primary" title="编辑">
										<i class="icon-edit"></i>
									</button>
									<button type="button" class="btn btn-danger" title="删除">
										<i class=" icon-trash"></i>
									</button>
								</td>
							</tr>
							<%}%>
						</tbody>
					</table>
					<div class="pagination">
						<ul>
			                <li class="disable"><a href="#">« 上一页</a></li>
			                <li class="active"><a href="#">1</a></li>
			                <li><a href="#">2</a></li>
			                <li><a href="#">3</a></li>
			                <li><a href="#">4</a></li>
			                <li><a href="#">...</a></li>
			                <li><a href="#">10</a></li>
			                <li><a href="#">下一页 »</a></li>
			            </ul>
					</div>
				</div>
			</div>
			<div class="push"></div>
		</div>
		<div class="index-footer">
			<div class="copyright text-center">Copyright ©2016 无锡法院</div>
		</div>
	</body>
</html>
