<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>搜索</title>
        <meta name="description" content="无锡">
        <meta name="viewport" content="width=1200" />
		<link rel="shortcut icon" href="/public/images/favicon.png">
		<link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.css'/>
		<link rel="stylesheet" href="/public/bower_components/components-font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/stylesheets/main.css">
		<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
		<script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/public/javascripts/common.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<% include ./include/header.html %>
			<div class="index-container">
				<% include ./include/menu.html %>
				这是首页...
			</div>
			<div class="push"></div>
		</div><!--wrapper -->
		<% include ./include/footer.html %>
	<script>

	</script>
	</body>
</html>
