<div class="blue-bg">
    <div class="index-header">
        <img src="/public/images/logo1.png" />
        <div class="pull-right">
            <div class="header-info">
                <p><%=commonData.rolenames.join(',')%>:<a href="/admin/profile"><%=commonData.username%></a></p>
                <!--<div>现时间：<span id="now-time"></span></div>-->
            </div>
            <div class="line-gap"></div>
            <a href="/admin/logout">
                <i class="fa fa-power-off"></i>
            </a>
        </div>

    </div>
</div><!-- blue-bg -->