<%
var peopleId = req.query['peopleId']
var menus = commonData.menus
var active = '系统设置'
%>



<div class="left-nav">
    <ul>
        <%
            for(let i = 0; i< menus.length; i ++){
            let menuObj = menus[i];
            let currLevel = menuObj.get('nlevel')
        %>
        <%if(menuObj.get('nlevel') == 0){%>
            <%if(menuObj.get('restype') == 1){%>
                <li <%if(active == menuObj.get('name')){%>class="active"<%}%>>
                    <div class="nav-title">
                        <span class="pull-right icon-dropdown"></span>
                        <div class="desktop-chart">
                            <i class="icon-desktop"></i>
                            <i class="icon-bar-chart"></i>
                        </div>
                        <%=menuObj.get('name')%>
                    </div>

                    <ul>
                        <%
                            for(let j = i+1; j< menus.length; j ++){
                            let menuObj = menus[j];
                        %>
                            <%if(menuObj.get('nlevel') == currLevel+1) {%>
                                <li><a href="<%if(menuObj.get('url')){%><%=menuObj.get('url')%><%}else{%>#<%}%>"><%=menuObj.get('name')%></a></li>
                            <%}else if(menuObj.get('nlevel') == currLevel){
                                i = j-1
                                break;
                            }%>
                        <%}%>
                    </ul>
                </li>
            <%}%>
        <%}
        }%>
    </ul>
</div><!-- left-nav -->