<%
var peopleId = req.query['peopleId']
var menus = commonData.menus
var active = '执行分析'
%>



<div class="left-nav">
    <ul>
        <%
            for(let i = 0; i< menus.length; i ++){
                let menuObj = menus[i];
                let currLevel = menuObj.nlevel
        %>
        <%if(menuObj.nlevel == 0){%>
            <%if(menuObj.restype == 1){%>
                <li>
                    <div class="nav-title">
                        <span class="fa  fa-<%=menuObj.icon%>"></span>
                        <div class="desktop-chart">
                            <i class="icon-desktop"></i>
                            <i class="icon-bar-chart"></i>
                        </div>
                        <%=menuObj.name%>
                    </div>

                    <ul>
                        <%
                            for(let j = i+1; j< menus.length; j ++){
                            let menuObj = menus[j];
                        %>
                            <%if(menuObj.get('nlevel') == currLevel+1) {%>
                                <li><a href="<%if(menuObj.get('url')){%><%=menuObj.get('url')%><%}else{%>#<%}%>"><i class="fa fa-<%=menuObj.icon%>"></i><%=menuObj.name%></a></li>
                            <%}else if(menuObj.nlevel == currLevel){
                                i = j-1
                                break;
                            }%>
                        <%}%>
                    </ul>
                </li>
            <%}%>
        <%}
        }%>
        <script>

        </script>
    </ul>

</div><!-- left-nav -->