<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>资源管理</title>
        <meta name="description" content="无锡">
        <meta name="viewport" content="width=1200">
		<link rel="shortcut icon" href="/public/images/favicon.png">
		<link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.css'/>
		<link rel="stylesheet" href="/public/bower_components/components-font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/stylesheets/main.css">
		<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
		<script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		<script src="/public/javascripts/echart.js"></script>
		<script src="/public/javascripts/common.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<% include ../include/header.html %>
			<div class="index-container">
				<% include ../include/menu.html %>
				<ul class="nav-bar">
					<li class="active"><a>个人信息</a></li>
				</ul>
				<div class="gap">
					<div class="border-box">
						<table class="people-info-table">
							<tr>
								<td rowspan="4" valign="top">
									<img src="/public/images/avatar.jpg" class="avatar">
								</td>
								<td><b>姓名：</b> 张生</td>
								<td><b>性别：</b> 男</td>
								<td><b>年龄：</b> 34</td>
							</tr>
							<tr>

								<td><b>婚姻状况：</b> 未婚</td>
								<td><b>手机号码：</b> 13800000000</td>
								<td><i class="fa fa-phone-sign"></i></td>
							</tr>
							<tr>
								<td colspan="3">
									<div><b>住址：</b> 浙江省xxx</div>
									<br>
									<div><b>身份证号：</b> 3425001574587</div>
									<br>
									<div><b>职位信息：</b> 皮革厂老板<div>
										<br>
									</div></div></td>
							</tr>
						</table>
						<h4 class="analysis-info">
							执行力综合评判得分：<b>82</b>（执行能力强）
						</h4>
					</div>
					<br>
					<div class="border-box">
						<div id="chart" style="width: 750px;height:400px"></div>
						<h4 class="analysis-info">
							可执行金额总计:1200万
						</h4>
					</div>

				</div>
			</div>
			<div class="push"></div>
		</div>
		<% include ../include/footer.html %>
		<script>

			var myChart_chart = echarts.init(document.getElementById('chart'));
			chart_option = {
				title: {
					text: '综合评估'
				},
				color:['#f34e30','#27425c','#60ace8'],
				legend: {
					data: ['图一','图二', 'xxx']
				},
				radar: [
					{
						indicator: [
							{ text: '指标一' },
							{ text: '指标二' },
							{ text: '指标三' },
							{ text: '指标四' },
							{ text: '指标五' }
						],
						center: ['25%', '50%'],
						radius: 120,
						startAngle: 90,
						splitNumber: 4,
						shape: 'circle',
						name: {
							formatter:'【{value}】',
							textStyle: {
								color:'#60ace8'
							}
						},
						splitArea: {
							areaStyle: {
								color: ['rgba(113, 171, 222, 0.2)',
									'rgba(113, 171, 222, 0.4)', 'rgba(113, 171, 222, 0.6)',
									'rgba(113, 171, 222, 0.8)', 'rgba(113, 171, 222, 1)'],
								shadowColor: 'rgba(0, 0, 0, 0.1)',
								shadowBlur: 10
							}
						},
						axisLine: {
							lineStyle: {
								color: 'rgba(255, 255, 255, 0.5)'
							}
						},
						splitLine: {
							lineStyle: {
								color: 'rgba(255, 255, 255, 0.5)'
							}
						}
					},
					{
						indicator: [
							{ text: '出行', max: 150 },
							{ text: '消费', max: 150 },
							{ text: '动产', max: 150 },
							{ text: '不动产', max: 120 },
							{ text: '关系', max: 108 },
							{ text: '其他', max: 72 }
						],
						center: ['75%', '50%'],
						radius: 120
					}
				],
				series: [
					{
						name: '雷达图',
						type: 'radar',
						itemStyle: {
							emphasis: {
								// color: 各异,
								lineStyle: {
									width: 4
								}
							}
						},
						data: [
							{
								value: [100, 8, 0.40, -80, 2000],
								name: '图一',
								symbol: 'rect',
								symbolSize: 5,
								lineStyle: {
									normal: {
										type: 'dashed'
									}
								}
							},
							{
								value: [60, 5, 0.30, -100, 1500],
								name: '图二',
								areaStyle: {
									normal: {
										color: 'rgba(255, 255, 255, 0.5)'
									}
								}
							}
						]
					},
					{
						name: '成绩单',
						type: 'radar',
						radarIndex: 1,
						data: [
							{
								value: [120, 118, 130, 100, 99, 70],
								name: 'xxx',
								label: {
									normal: {
										show: true,
										formatter:function(params) {
											return params.value;
										}
									}
								}
							}
						]
					}
				]
			}

			myChart_chart.setOption(chart_option);

		</script>
	</body>
</html>
