<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>资源管理</title>
        <meta name="description" content="无锡">
        <meta name="viewport" content="width=1200">
		<link rel="shortcut icon" href="/public/images/favicon.png">
		<link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.css'/>
		<link rel="stylesheet" href="/public/bower_components/components-font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/stylesheets/main.css">
		<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
		<script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		<script src="/public/javascripts/echart.js"></script>
		<script src="/public/javascripts/common.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<% include ../include/header.html %>
			<div class="index-container">
				<% include ../include/menu.html %>
				<ul class="nav-bar">
					<li class="active"><a>涉案信息</a></li>
				</ul>
				<div class="gap">
					<div style="padding: 10px 10px">
						<div style=" margin-top: 20px;">
							<h1>涉案一</h1>
							<table width="756" border="0" cellpadding="0" cellspacing="0" style="">
								<tr>
									<td  height="30" align="right" valign="middle"><strong>被执行人姓名/名称</strong>
									</td>
									<td width="524" height="30" valign="middle"><%=peopleData.name%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>性别</strong></td>
									<td height="30" valign="middle"><%=peopleData.sex%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>年龄</strong></td>
									<td height="30" valign="middle"><%=peopleData.age%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>身份证号码/组织机构代码</strong></td>
									<td height="30" valign="middle"><%=peopleData.idNumber%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>执行法院</strong></td>
									<td height="30" valign="middle"><%=peopleData.zhixingfayuan%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>省份</strong></td>
									<td height="30" valign="middle"><%=peopleData.shengfen%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>执行依据文号</strong></td>
									<td height="30" valign="middle"><%=peopleData.wenhao%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>立案时间</strong></td>
									<td height="30" valign="middle"><%=peopleData.lianshijian%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>案号</strong></td>
									<td height="30" valign="middle"><%=peopleData.anhao%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>做出执行依据单位</strong></td>
									<td height="30" valign="middle"><%=peopleData.yijudanwei%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>生效法律文书确定的义务</strong></td>
									<td height="30" valign="middle">
										<%=peopleData.yiwu%>
									</td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>被执行人的履行情况</strong></td>
									<td height="30" valign="middle"><%=peopleData.lvxinqingkuang%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>失信被执行人行为具体情形</strong></td>
									<td height="30" valign="middle"><%=peopleData.jutiqingkuang%></td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle"><strong>发布时间</strong></td>
									<td height="30" valign="middle"><%=peopleData.pubTime%></td>
								</tr>
							</table>
						</div>
					</div>

				</div>
			</div>
			<div class="push"></div>
		</div>
		<% include ../include/footer.html %>
		<script>

		</script>
	</body>
</html>
