<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>资源管理</title>
        <meta name="description" content="无锡">
        <meta name="viewport" content="width=1200">
		<link rel="shortcut icon" href="/public/images/favicon.png">
		<link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.css'/>
		<link rel="stylesheet" href="/public/bower_components/components-font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/stylesheets/main.css">
		<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="/public/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
		<script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		<script src="/public/javascripts/echart.js"></script>
		<script src="/public/javascripts/common.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<% include ../include/header.html %>
			<div class="index-container">
				<% include ../include/menu.html %>
				<ul class="nav-bar">
					<li class="active"><a>资产分析</a></li>
				</ul>
				<div class="gap">
					<div style="padding: 10px 10px">
						<div id="dongchantu" style="width: 850px;height:400px;"></div>
						<hr>
						<div id="budongchantu" style="width: 850px;height:400px;"></div>
						<hr>
						<div id="fangchantu" style="width: 850px;height:400px;"></div>
						<script>
							var myChart_dongchan = echarts.init(document.getElementById('dongchantu'));
							dongchan_option = {
								title : {
									text: '动产分析',
									subtext: '车辆-资产总计：160.87万',
									x:'center'
								},
								tooltip : {
									trigger: 'item',
									formatter: "{a} <br/>{b} : {c} ({d}%)"
								},
								legend: {
									orient: 'vertical',
									left: 'left',
									data: ['奥迪A4L 2016款',
										'帕萨特 2016款',
										'宝马7系 2016款']
								},
								series : [
									{
										name: '动产来源',
										type: 'pie',
										radius : '55%',
										center: ['50%', '60%'],
										data:[
											{value:335, name:'奥迪A4L 2016款'},
											{value:310, name:'帕萨特 2016款'},
											{value:234, name:'宝马7系 2016款'}
										],
										itemStyle: {
											emphasis: {
												shadowBlur: 10,
												shadowOffsetX: 0,
												shadowColor: 'rgba(0, 0, 0, 0.5)'
											}
										}
									}
								]
							};

							myChart_dongchan.setOption(dongchan_option);

							var myChart_budongchan = echarts.init(document.getElementById('budongchantu'));
							budongchan_option = {
								title : {
									text: '动产分析',
									subtext: '存款-资产总计：1450万',
									x:'center'
								},
								tooltip: {
									trigger: 'item',
									formatter: "{a} <br/>{b}: {c} ({d}%)"
								},
								legend: {
									orient: 'vertical',
									x: 'left',
									data:['中国工商银行','中国建设银行','中国银行','其它理财产品']
								},
								series: [
									{
										name:'不动产来源',
										type:'pie',
										radius: ['50%', '70%'],
										avoidLabelOverlap: false,
										label: {
											normal: {
												show: false,
												position: 'center'
											},
											emphasis: {
												show: true,
												textStyle: {
													fontSize: '30',
													fontWeight: 'bold'
												}
											}
										},
										labelLine: {
											normal: {
												show: false
											}
										},
										data:[
											{value:335, name:'中国工商银行'},
											{value:310, name:'中国建设银行'},
											{value:234, name:'其它理财产品'}
										]
									}
								]
							};

							myChart_budongchan.setOption(budongchan_option);

							var myChart_fangchan = echarts.init(document.getElementById('fangchantu'));
							fangchan_option = {
								title : {
									text: '不动产分析',
									subtext: '不动产资产总计：1450万',
									x:'center'
								},
								tooltip : {
									trigger: 'item',
									formatter: "{a} <br/>{b} : {c} ({d}%)"
								},
								legend: {
									orient: 'vertical',
									left: 'left',
									data: ['杭州江干区-景芳小区景芳六区',
										'南京市浦口区桥北天润城12-14街区',
										'上海市浦东新区塘桥南泉小区',
										'成都市青羊区金沙中大君悦金沙四期',
										'北京市西城区广安门远见名苑']
								},
								series : [
									{
										name: '不动产来源',
										type: 'pie',
										radius : '55%',
										center: ['50%', '60%'],
										data:[
											{value:335, name:'杭州江干区-景芳小区景芳六区'},
											{value:310, name:'南京市浦口区桥北天润城12-14街区'},
											{value:234, name:'上海市浦东新区塘桥南泉小区'},
											{value:234, name:'成都市青羊区金沙中大君悦金沙四期'},
											{value:234, name:'北京市西城区广安门远见名苑'}
										],
										itemStyle: {
											emphasis: {
												shadowBlur: 10,
												shadowOffsetX: 0,
												shadowColor: 'rgba(0, 0, 0, 0.5)'
											}
										}
									}
								]
							};

							myChart_fangchan.setOption(fangchan_option);
						</script>
					</div>

				</div>
			</div>
			<div class="push"></div>
		</div>
		<% include ../include/footer.html %>
		<script>

		</script>
	</body>
</html>
